.title_details,.Badge{
    color:wheat;
    font-size: 70px;
    text-align: center;
}
.Badge_siz{
    width: 200px;
}
.topIMG{
    background-image: url(../../image/banner-2.jpg);
    background-size: cover;
    height: 300px;
}
.detailsBody{
    background-color: #0E0A2A;
    height: 100%;
}
.detailsCard{
    display: flex;
    justify-content:space-between;
    background-color:#3A42FF;
    border-radius: 10px;
}
.detailsCardRight{
    max-width: 400px;
}
.cardDetails{
    margin-left: 30px;
    color: white;
}
.team{
    width: 370px;
    display: block;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right: 10px;
}
.details_text{
    color: white;
}
.sosialIcon{
margin-left:50%;
margin-top: 100px;
}
.icons{
    width: 40px;
}
@media screen and (max-width:720px){
    .title_details,.Badge{
        color:wheat;
        font-size: 50px;
        text-align: center;
    
    }
    .Badge_siz{
        width: 150px;
    }
    .topIMG{
        background-image: url(../../image/banner-2.jpg);
        background-size: cover;
        height: 250px;
    }
    .team{
        width: 490px;
        display: block;
        margin-top: 10px;
        margin-bottom:10px;
        margin-right: 10px;
        margin-left:10px;
    }

    .cardDetails{
        color: white;
    }
    .detailsCard{
        display: flex;
        justify-content:space-between;
        background-color:#3A42FF;
        border-radius: 10px;
        flex-direction: column;
    }
}